<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252772641007-cqonh55n3uhb4cq8bueefq6dfuvdh8hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252772641007-cqonh55n3uhb4cq8bueefq6dfuvdh8hj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252772641007-egdl7eiae37paqu699oufbp6ob8l1vok.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWt3hbADQO4bUOv8WVQfruU_RfYgTPyc8</string>
	<key>GCM_SENDER_ID</key>
	<string>252772641007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecarplug.test0125</string>
	<key>PROJECT_ID</key>
	<string>ecarplugapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ecarplugapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252772641007:ios:e570e8c7235e614c6a531a</string>
</dict>
</plist>